<!DOCTYPE html>
<html data-ng-app="capitales">
<head>
<meta charset="UTF-8">

	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script	type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	
	<script type="text/javascript" src="static/build/application.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/build/application.css">
	
	<title>Jeu des capitales</title>

</head>
<body>
 	<form data-ng-controller="GameController as controller">
 		<fieldset data-ng-show="controller.step1">
	 		<p>
				<label>Nom : </label>
				<input type="text" data-ng-model="controller.username" />
			</p>
	 		<p>
				<label>Nombre de questions : </label>
				<select data-ng-model="controller.size" data-gm-enter="controller.startGame()" >
					<option value="1">1</option>
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
					<option value="30">30</option>
					<option value="40">40</option>
					<option value="50">50</option>
				</select>
			</p>
			<p>
				<button type="submit" data-ng-click="controller.startGame()" data-gm-enter="controller.startGame()">Envoyer</button>
			</p>
		</fieldset>
		<fieldset data-ng-show="controller.step2">
			 <div>
			 	<span>{{controller.proposition.challenge.question.value}}</span>
			 	<ul data-ng-repeat="answer in controller.proposition.challenge.answers">
					<li>{{answer.value}}</li>
				</ul>
				<div data-ng-show="controller.proposition.correct != null">
					<span data-ng-show="controller.proposition.correct">Correct</span>
					<span data-ng-hide="controller.proposition.correct">Faux</span>
				</div>
			 </div>
			 <span>{{controller.question}} :</span>
			 <input type="text" data-ng-model="controller.answer" data-gm-enter="controller.giveAnswer()" />
		</fieldset>
		<fieldset data-ng-show="controller.step3">
			 <span>Terminé</span>
		</fieldset>
	</form>
</body>
</html>